/* Large devices (desktops, less than 1200px) */
@media (max-width: 1300.98px) {
    /* *****Logo***** */
    .logo{
        text-align: center;
        width: auto;
        background-color: #ffffff;
        padding: 0;
    }

    /* *****Main Header***** */
    .main-header > nav{
        width: 100%;
        text-align: center;
        /* display: none; */
    }

    .main-header > nav:nth-child(2) span > i
    {
        display: none;
    }

    .main-header > nav:nth-child(2) span, .main-header > nav:nth-child(2) span > a
    {
       display: none;
    } 

    .main-header > div:nth-child(3) 
    {
        height: 10vh;
        padding: 0; 
        justify-content: center;
        align-items: center;
    } 

    .main-header > div:nth-child(3) > a
    {
        padding: 35px;
        color: #ffffff;
    }

    /* *****Hero***** */
    #welcome-hero
    {
        grid-template-columns: 1fr;
        height: 100vh;
        justify-items: center;
        background-image: url(../img/banner-image.jpg);
        background-attachment: scroll;
        background-repeat: none;
        background-position:center center;
        background-size: cover;
    }

    #welcome-hero > div{
        height: 20vh;
        width: 100vw;
        text-align: center;
    }

    #welcome-hero > div > h1
    {
        font-size: 5rem;
    }

    #welcome-hero > div > p
    {
        margin-top: 20px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    #welcome-hero > div > a
    {
        background-color: #ffffff;
        color: #000000;
        padding: 20px 40px;
        border-radius: 30px;
        text-decoration: none;
    }

    /* *****Main Home Page Content***** */

    .container
    {
        /* position items in experience section full width */
        width: 100vw;
        position: static;
    }

    .container div:nth-child(4) > img {
        width: 100%;
        display: block;
        margin-top: 0px;
    }


    #experience-section-text{
        width: 60%;
        height: auto;
    }

    #experience-section-text a{
        height: auto;
        padding: 10px; 
    }

    #experience-section p
    {
        margin-bottom: 20px;
    }

    .experience-section-text > h2 {
        margin-bottom: 20px;
        text-align: center;
        margin-top: 15px;
    }

    /* *****Facilities***** */

    #facilities-section {
        padding-bottom: 30px;
    }

    #facilities-section > div:nth-child(1) {
        width: 80%;
        margin: 0 auto;
    }

    #facilities-section > div:nth-child(1) > h2 {
        padding-top: 50px;
        font-size: 2rem;
    }

    #facilities-images{
        height: auto;
        margin-bottom: 20px;
    }

    /* #facilities-images > div:nth-child(2){
        display: none;
    } */

    #facilities-images > div:nth-child(1), #facilities-images > div:nth-child(3), #facilities-images > div:nth-child(2){
        padding: 40px;
    }

    /* *****Footer***** */
    #container-footer {
        margin-top: 30px;
        padding-bottom: 100px;
        text-align: center;
        position: relative;
        justify-items: center;
        
    }

    #container-footer > div:nth-child(1) {
        justify-self: center; 
        width: 60%;
        position: static;
    }

    #container-footer > div:nth-child(2) {
        max-width: 70%;
        margin: 20px auto;
    }

    #name-form {
        height: auto
    }

    #mail-message-form {
        margin-top: 0;
    }

    #mail-message-form > input {
        width: 100%;
        margin-bottom: 0;
    }

    #nav-footer > h3, #nav-footer > nav {
        margin-left: 0;
    }

    #nav-footer nav{
        margin-bottom: 50px;
    }

    #safety-policies {
        
        padding-left: 0;
        position: static;    
    }

    #copyright > p {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
    }
}

/* ------------------------------------------------------------------------------- */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /* *****Logo***** */
    .logo{
        text-align: center;
        width: auto;
        background-color: #ffffff;
    }
    /* *****Main Header***** */
    .main-header > nav{
        width: 100%;
        text-align: center;
        /* display: none; */
    }

    /* .main-header > nav li
    {
        display: block;
    } */

    .main-header > nav:nth-child(2) span > i
    {
        display: none;
    }

    .main-header > nav:nth-child(2) span, .main-header > nav:nth-child(2) span > a
    {
       display: none;
    } 

    .main-header > div:nth-child(3) 
    {
        height: auto;
        padding: 10px;
        justify-content: center;
        align-items: center;
    } 

    .main-header > div:nth-child(3) > a
    {
        padding: 15px;
        color: #ffffff;
    }

    /* *****Hero***** */
    #welcome-hero
    {
        grid-template-columns: 1fr;
        height: 100vh;
        justify-items: center;
        background-image: url(../img/banner-image.jpg);
        background-attachment: scroll;
        background-repeat: none;
        background-position:center center;
        background-size: cover;
    }

    #welcome-hero > div{
        height: 20vh;
        width: 100vw;
        text-align: center;
    }

    #welcome-hero > div > h1
    {
        font-size: 5rem;
    }

    #welcome-hero > div > p
    {
        margin-top: 20px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    #welcome-hero > div > a
    {
        background-color: #ffffff;
        color: #000000;
        padding: 20px 40px;
        border-radius: 30px;
        text-decoration: none;
    }

    /* *****Main Home Page Content***** */

    .container
    {
        /* position items in experience section full width */
        width: 100vw;
        position: static;
    }

    .container div:nth-child(4) > img {
        width: 100%;
        display: block;
        margin-top: 0px;
    }


    #experience-section-text{
        width: 60%;
        height: auto;
    }

    #experience-section-text a{
        height: auto;
        padding: 10px; 
    }

    #experience-section p
    {
        margin-bottom: 20px;
    }

    .experience-section-text > h2 {
        margin-bottom: 20px;
        text-align: center;
        margin-top: 15px;
    }

    /* *****Facilities***** */

    #facilities-section {
        padding-bottom: 30px;
    }

    #facilities-section > div:nth-child(1) {
        width: 80%;
        margin: 0 auto;
    }

    #facilities-section > div:nth-child(1) > h2 {
        padding-top: 50px;
        font-size: 2rem;
    }

    #facilities-images{
        height: auto;
        margin-bottom: 20px;
    }

    #facilities-images > div:nth-child(2){
        display: none;
    }

    #facilities-images > div:nth-child(1), #facilities-images > div:nth-child(3){
        padding: 40px;
    }

    /* *****Footer***** */
    #container-footer {
        margin-top: 30px;
        padding-bottom: 100px;
        text-align: center;
        position: relative;
        justify-items: center;
        
    }

    #container-footer > div:nth-child(1) {
        justify-self: center; 
        width: 60%;
        position: static;
    }

    #container-footer > div:nth-child(2) {
        max-width: 70%;
        margin: 20px auto;
    }

    #name-form {
        height: auto
    }

    #mail-message-form {
        margin-top: 0;
    }

    #mail-message-form > input {
        width: 100%;
        margin-bottom: 0;
    }

    #nav-footer > h3, #nav-footer > nav {
        margin-left: 0;
    }

    #nav-footer nav{
        margin-bottom: 50px;
    }

    #safety-policies {
        
        padding-left: 0;
        position: static;    
    }

    #copyright > p {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
    }
}
