/* Large devices (desktops, less than 1500px) */
@media (max-width: 1500px) {
    /* *****Logo***** */
    .logo{
        text-align: center;
        width: auto;
        background-color: #ffffff;
        padding: 0;
    }

    .main-header
    {
        width: 100%;
    }

    /* *****Main Header***** */
    .main-header > nav{
        width: 100%;
        text-align: center;
    }

    .main-header > nav:nth-child(2) span > i
    {
        display: none;
    }

    .main-header > nav:nth-child(2) span, .main-header > nav:nth-child(2) span > a
    {
       display: none;
    } 

    .main-header > div:nth-child(3) > a
    {
        padding: 35px;
        color: #ffffff;
    }

    /* *****Hero***** */
    #welcome-hero
    {
        grid-template-columns: 1fr;
        height: 100vh;
        justify-items: center;
        background-image: url(../img/banner-image.jpg);
        background-attachment: scroll;
        background-repeat: none;
        background-position:center center;
        background-size: cover;
    }

    #welcome-hero > div{
        height: 20vh;
        width: 100vw;
        text-align: center;
    }

    #welcome-hero > div > h1
    {
        font-size: 5rem;
    }

    #welcome-hero > div > p
    {
        margin-top: 20px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    #welcome-hero > div > a
    {
        background-color: #ffffff;
        color: #000000;
        padding: 20px 40px;
        border-radius: 30px;
        text-decoration: none;
    }    

    /* *****Main***** */
    .container
    {
        /* position items in experience section full width */
        width: 100vw;
        position: static;
    }

    .container-footer-home > div:nth-child(2)
    {
        width: 100%;
    }

    .container div:nth-child(4) > img {
        width: 100%;
        display: block;
        margin-top: 0px;
    }


    #experience-section-text{
        width: 60%;
        height: auto;
    }

    #experience-section-text a{
        height: auto;
        padding: 10px; 
    }

    #experience-section p
    {
        margin-bottom: 20px;
    }

    .experience-section-text > h2 {
        margin-bottom: 20px;
        text-align: center;
        margin-top: 15px;
    }

    /* *****Facilities***** */
    #facilities-section {
        padding-bottom: 50px;
    }

    #facilities-section > div:nth-child(1) {
        width: 80%;
        margin: 0 auto;
    }

    #facilities-section > div:nth-child(1) > h2 {
        padding-top: 50px;
        font-size: 2rem;
    }

    #facilities-images{
        height: auto;
        margin-bottom: 20px;
    }

    #facilities-images > div:nth-child(1), #facilities-images > div:nth-child(3), #facilities-images > div:nth-child(2){
        padding: 40px;
    }

    /* *****Footer***** */
    /* #container-footer {
        margin-top: 30px;
        padding-bottom: 100px;
        text-align: center;
        position: relative;
        justify-items: center;
    }

    #container-footer > div:nth-child(1) {
        justify-self: center; 
        width: 60%;
        position: static;
    }

    #container-footer > div:nth-child(2) {
        max-width: 70%;
        margin: 20px auto;
        padding: 0;
    }

    .name-form {
        height: auto
    }

    .mail-message-form {
        margin-top: 0;
    }

    .mail-message-form > input {
        width: 100%;
        margin-bottom: 0;
    }

    .nav-footer > h3, #nav-footer > nav {
        margin-left: 0;
    }

    .nav-footer nav{
        margin-bottom: 50px;
    }

    #safety-policies {
        
        padding-left: 0;
        position: static;    
    }

    #copyright > p {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
    }  */
}

/* ******************************************************************** */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .main-header
    {
        height: 0;
    }

    .main-header > nav
    {
        display: none;
    }

    .logo{
        text-align: center;
        width: auto;
        background-color: #ffffff;
    }

    .main-header > nav:nth-child(2) span > i
    {
        display: none;
    }

    .main-header > nav:nth-child(2) span, .main-header > nav:nth-child(2) span > a
    {
       display: none;
    } 

    .main-header > div:nth-child(3) 
    {
        height: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    } 

    .main-header > div:nth-child(3) > a
    {
        padding: 15px;
        color: #ffffff;
    }

    /* *****Hero***** */
    #welcome-hero
    {
        grid-template-columns: 1fr;
        height: 100vh;
        justify-items: center;
        background-image: url(../img/banner-image.jpg);
        background-attachment: scroll;
        background-repeat: none;
        background-position:center center;
        background-size: cover;
    }

    #welcome-hero > div{
        height: 20vh;
        width: 100vw;
        text-align: center;
    }

    #welcome-hero > div > h1
    {
        font-size: 5rem;
    }

    #welcome-hero > div > p
    {
        margin-top: 20px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    #welcome-hero > div > a
    {
        background-color: #ffffff;
        color: #000000;
        padding: 20px 40px;
        border-radius: 30px;
        text-decoration: none;
    }

    .hero
    {
        position: static;
        height: 50vh;
    }

    .hero > div
    {
        position: static;
    }

    .member-cards > article
    {
        top: 0;
        margin-bottom: 2rem;
    }

    /* *****Main Home Page Content***** */
    .container
    {
        width: 100vw;
        position: static;
    }

    .container div:nth-child(4) > img {
        width: 100%;
        display: block;
        margin-top: 0px;
    }


    #experience-section-text{
        width: 60%;
        height: auto;
    }

    #experience-section-text a{
        height: auto;
        padding: 10px; 
    }

    #experience-section p
    {
        margin-bottom: 20px;
    }

    .experience-section-text > h2 {
        margin-bottom: 20px;
        text-align: center;
        margin-top: 15px;
    }

    /* FACILITIES */

    #facilities-section {
        padding-bottom: 50px;
    }

    #facilities-section > div:nth-child(1) {
        width: 80%;
        margin: 0 auto;
    }

    #facilities-section > div:nth-child(1) > h2 {
        padding-top: 50px;
        font-size: 2rem;
    }

    #facilities-images{
        height: auto;
        margin-bottom: 20px;
    }

    #facilities-images > div:nth-child(2){
        display: none;
    }

    #facilities-images > div:nth-child(1), #facilities-images > div:nth-child(3){
        padding: 40px;
    }

    /* FOOTER */
    .container-footer-home
    {
        position: relative;
    }
    .container-footer-home > div:nth-child(2)
    {
        width: 50%;
    }

    .container-footer-home > div:nth-child(1)
    {
        position: static;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2rem;
    }

    .container-footer
    {
        top: 2rem;
    }

    .container-footer > div:nth-child(1),
    .container-footer > div:nth-child(3),
    .container-footer > div:nth-child(2) > h3,
    .container-footer > div:nth-child(2) > p
    {
        line-height: 2rem;
    }


    .container-footer > div:nth-child(2)
    {
        width: 40%;
        margin-top: 2rem;
    }

    .container-footer > div:nth-child(3)
    {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    #name-form > div:nth-child(1), #name-form > div:nth-child(2)
    {
        display: block;
        width: 100%;
    }

    #name-form > div:nth-child(2)
    {
        margin-left: 0;
    }

    input
    {
        width: 100%;
    }

    .container-footer-home > div:nth-child(2) > h3,
    .container-footer-home > div:nth-child(2) > p
    {
        text-align: center;
        width: 100%;
    }

    #copyright > p
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #safety-policies
    {
        position: relative;
        bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: underline;
        
    }

    .nav-footer
    {
        text-align: center;
        margin-top: 2rem;
    }

    .nav-footer > nav
    {
        margin-bottom: 2rem;
    }

    .nav-footer
    {
        margin-bottom: 2rem;
    }





    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* Membership-Page */

    /* Cards */
    .member-cards
    {
        row-gap: 2rem;
    }

    .member-cards > article:nth-child(1), 
    .member-cards > article:nth-child(2), 
    .member-cards > article:nth-child(3)
    {
        position: static;
        width: 60%;
    }

    .member-cards > article > button,
    .package-period,
    .card-description
    {
        position: static;
    }





















    /* .container-footer {
        margin-top: 30px;
        padding-bottom: 100px;
        text-align: center; 
        position: relative;
        justify-items: center;
        top: 0;
        
    } 

    .container-footer > div:nth-child(1) {
        justify-self: center; 
        width: 60%;
        position: static;
    }

    .container-footer > div:nth-child(2) {
        max-width: 70%;
        margin: 20px auto;
        width: 50%;
    }

    #name-form > div:nth-child(1), #name-form > div:nth-child(2)
    {
        display: block;
    }

    #mail-message-form > input {
        width: 100%;
        margin-bottom: 0;
    }

    #nav-footer > h3, #nav-footer > nav {
        margin-left: 0;
    }

    #nav-footer nav{
        margin-bottom: 50px;
    }

    #safety-policies {
        
        padding-left: 0;
        position: static;    
    }

    #copyright > p {
        position: absolute; 
        bottom: 0;
        margin: 0 auto; 
    }  */
}
