/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    #facilities-images > div:nth-child(2)
    {
        display: none;
    }

    /* Footer */
    #copyright > p
    {
        position: absolute;
        bottom: -60rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .container-footer > div:nth-child(1)
    {
        justify-self: center;
        text-align: center;
    }

    .container-footer > div:nth-child(2)
    {
        width: 80%;
        margin-top: 2rem;
        text-align: center;
    }

    .name-form
    {
        row-gap: 1rem;
    }

    #safety-policies
    {
        bottom: -5rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-footer
    {
        margin-top: 2rem;
        text-align: center;
        
    }

    /* Utilities */
    #facilities-images,
    .grid-col-3-facilities, 
    .grid-col-3-footer,
    .grid-col-3-header,
    .grid-col-2
    .grid-col-3
    {
        grid-template-columns: 1fr;
    }

    .primary-links
    {
        width: 70%;
    }
}