/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    .logo
    {
        text-align: center;
        margin-left: 0;
        padding: 1rem;
    }

    nav > div:nth-child(3) 
    {
        padding: 1rem 0;
    } 

    /* HERO */
    .hero > div
    {
        width: 60%;
        text-align: center;
    }

    /* MAIN */
    #experience-section
    {
        margin-bottom: 2rem;
    }

    #experience-section
    {
        row-gap: 2rem;
    }

    .experience-section-text
    {
        margin: 0 auto;
        width: 80%;
    }

    #experience-section > div:nth-child(4)
    {
        grid-row-start: 3;
        grid-row-end: span 1;
    }

    .experience-section-text > p
    {
        text-align: center;
    }

    #facilities-images > div:nth-child(2)
    {
        display: none;
    }

    /* FOOTER */
    .footer-home
    {
        margin-top: 2rem;
    }

    .footer
    {
        position: static;
        width: 100%;
        top: 170vh;
        row-gap: 2rem;
    }

    .footer > div:nth-child(1)
    {
        justify-self: center;
        text-align: center;
    }

    .footer > div:nth-child(2)
    {
        width: 70%;
        margin-top: 1rem;
        text-align: center;
    }

    .footer > div:nth-child(2) > p
    {
        width: 100%;
    }

    .name-form
    {
        row-gap: 1rem;
    }

    #message
    {
        margin-top: 1rem;
    }

    #copyright > p
    {
        position: absolute;
        bottom: -65rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #safety-policies
    {
        bottom: -3rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-footer
    {
        margin-top: 2rem;
        text-align: center;
    }

    /* *****Membership Page***** */
    .hero
    {
        height: 30vh;
    }

    .hero > div
    {
        top: 0;
    }

    .hero > div > h2
    {
        font-size: 3rem;
    }

    .hero > div, .hero > div > div
    {
        width: 60%;
    }
    
    .member-cards
    {
        position: static;
        margin-top: 2rem;
        row-gap: 2rem;
    }

    .member-cards > article
    {
        height: 30vh;
    }

    /* Utilities */
    #facilities-images,
    .grid-col-3-facilities, 
    .grid-col-3-footer,
    .grid-col-3-header,
    .grid-col-2,
    .grid-col-3
    {
        grid-template-columns: 1fr;
    }

    .primary-links
    {
        text-align: center;
        justify-self: center;  
        padding: 1rem 1rem;
        width: 55%;
    } 
}