@media (max-width: 1500px) and (orientation: landscape){
    /* Membership */
    .hero
    {
        height: 80vh;
    }

    .member-cards
    {
        top: 25rem;
    }

    .member-cards > article
    {
        height: 90vh;
    }

    .card-description
    {
        padding: 0 1rem;
    }

    .footer
    {
        top: 25rem;
    }
}