/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
        
    .hero
    {
        height: 40vh;
    }

    .hero > div
    {
        position: relative;
        top: 10%;
    }

    .hero > div > h2
    {
        font-size: 3rem;
    }

    .hero > div, .hero > div > div
    {
        width: 80%;
    }

    #copyright > p
    {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .experience-section-text
    {
        padding: 0;
    }

    #experience-section > div:nth-child(2), 
    #experience-section > div:nth-child(3)
    {
        width: 100%;
    }

    #facilities-images > div:nth-child(2)
    {
        display: none;
    }

    /* Footer */
    #copyright > p
    {
        position: absolute;
        bottom: -65rem;
    }

    .container-footer > div:nth-child(1)
    {
        justify-self: center;
        text-align: center;
    }

    .container-footer > div:nth-child(2)
    {
        width: 80%;
        margin-top: 2rem;
        text-align: center;
    }

    .name-form
    {
        row-gap: 1rem;
    }

    #safety-policies
    {
        bottom: -5rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-footer
    {
        margin-top: 2rem;
        text-align: center;
    }

    /* Utilities */
    #facilities-images,
    .grid-col-3-facilities, 
    .grid-col-3-footer,
    .grid-col-3-header,
    .grid-col-2
    {
        grid-template-columns: 1fr;
    }

    .primary-links
    {
        text-align: center;
        justify-self: center;  
        padding: 1rem 1rem;
        margin-bottom: 40px; 
    } 

    #experience-section p
    {
        padding: 1rem 3rem;
    }
}