/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* Header */
    .logo > img, .main-header > nav div, .main-header > nav li
    {
        display: none;
    }

    /* Hero */
    .hero
    {
        height: 40vh;
    }

    .hero > div
    {
        width: 60%;
        text-align: center;
    }

    .hero > div > h2
    {
        font-size: 3rem;
    }

    .hero > div, .hero > div > div
    {
        width: 80%;
    }
    
    /* Main */
    
    .experience-section-text
    {
        padding: 0;
    }

    #experience-section p
    {
        padding: 0;
    }

    #experience-section > div:nth-child(2), 
    #experience-section > div:nth-child(3)
    {
        width: 100%;
        padding: 0;
    }

    #facilities-images > div:nth-child(2)
    {
        display: none;
    }

    /* *****Membership Page***** */
    .hero
    {
        height: 60vh;
    }

    .hero > div
    {
        position: relative;
        top: 0;
    }

    .hero > div > h2
    {
        font-size: 3rem;
    }

    .hero > div, .hero > div > div
    {
        width: 60%;
    }

    /* Card Items */
    .member-cards
    {
        position: static;
        margin-top: 2rem;
    }

    .member-cards > article
    {
        top: 0;
        height: 50vh;
    }

    .card-description,
    .package-period
    {
        width: 70%;
        margin-top: 1rem;
    }

    /* Footer */
    .footer
    {
        position: static;
        width: 100%;
        top: 170vh;
        row-gap: 2rem;
    }

    .footer > div:nth-child(1)
    {
        justify-self: center;
        text-align: center;
        /* position: relative; */
    }

    .footer > div:nth-child(2)
    {
        width: 70%;
        margin-top: 1rem;
        text-align: center;
    }

    #copyright > p
    {
        bottom: -70rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .name-form
    {
        row-gap: 1rem;
    }

    #safety-policies
    {
        bottom: -5rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-footer
    {
        margin-top: 2rem;
        text-align: center;
    }

    

    .footer > div:nth-child(2) > h3
    {
        text-align: center;
    }
    
    .footer > div
    {
        top: 20%;
    }

    .footer > div:nth-child(2) > p
    {
        width: 100%;
        text-align: center;
    }

    /* Utilities */
    #facilities-images,
    .grid-col-3-facilities, 
    .grid-col-3-footer,
    .grid-col-3-header,
    .grid-col-2
    {
        grid-template-columns: 1fr;
    }

    .primary-links
    {
        text-align: center;
        justify-self: center;  
        padding: 1rem 1rem;
        width: 55%;
    } 
}