*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *****Hero***** */
/* .hero
{
    background-color: #0B7FA2;
    height: 70vh;
    color: var(--secondary-font-color);
    justify-items: center;
    align-items: center;
    position: relative;
} */
/* 
.hero > div
{
    position: relative;
    top: -100px;
} */

/* .hero > div, .hero > div > div
{
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

.hero > div > h2
{
    font-size: 4rem;
} */

/* *****Member Cards***** */
/* .member-cards
{
    width: 80%;
    margin: 0 auto;
    column-gap: 5rem;
    position: relative;
}
.member-cards > article
{
    text-align: center;
    border: 1px solid #000;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    padding: 1rem;
    position: absolute; 
    height: 35vh;
    top: -6rem;
}

.member-cards > article:nth-child(1),
.member-cards > article:nth-child(2),
.member-cards > article:nth-child(3)
{
    position: absolute;
    margin: 0 auto;
    width: 30%;
}

.member-cards > article:nth-child(1)
{
    left: 0;
}

.member-cards > article:nth-child(2)
{
    left: 35%;
}

.member-cards > article:nth-child(3)
{
    right: 0;
}

.member-cards > article > button
{
    background-color: var(--secondary-link-bg-color);
    color: var(--secondary-font-color);
    border: none;
    padding: 1rem;
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;

}
.renewal,.price
{
    font-weight: bold;
}
.price
{
    font-size: 3rem;
}
.package-period
{
    font-size: 0.8rem;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.card-description
{
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.container-footer
{
    position: relative;
    top: 15rem;
}

.container-footer > div
{
    justify-self: center;

} */

/* Left-Panel */
/* .container-footer > div:nth-child(1) > img, .container-footer > div:nth-child(1) > h2
{
    display: inline-block;
    font-size: 2rem;
}

.container-footer > div:nth-child(1)
{
    justify-self: end;
    position: relative;
    width: 60%;
    justify-content: center;
    align-items: center;
} */

/* *****MEDIA QUERIES***** */   
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    /* .main-header > nav
    {
        display: none;
    } */
    
    /* .hero
    {
        position: static;
        height: 50vh;
    } */

    /* .hero > div
    {
        position: static;
    }

    .member-cards > article
    {
        top: 0;
        margin-bottom: 2rem;
    } */

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    
    /* #name-form > div:nth-child(1)
    {
        margin-right: 0;
    } */
    
    /* #copyright > p
    {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    } */
}

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {
    .hero
    {
        height: 40vh;
    }

    .hero > div
    {
        position: relative;
        top: 10%;
        
    }

    .hero > div > h2
    {
        font-size: 3rem;
    }

    .hero > div, .hero > div > div
    {
        width: 80%;
    }

    #copyright > p
    {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
} */

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {
    .hero
    {
        height: 30vh;
    }

    .hero > div
    {
        position: relative;
        top: 12%;
    }

    .hero > div > h2
    {
        font-size: 2rem;
    }

    .hero > div, .hero > div > div
    {
        width: 80%;
    }
} */





