/* *****Color Variables***** */
:root
{
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #C4306B;

    --primary-font-color: #000000;
    --secondary-font-color: #FFFFFF;

    --primary-link-bg-color: #FFFFFF;
    --secondary-link-bg-color: #C4306B;
}

/* *****General Styles***** */
body
{
    font-family: 'Poppins', sans-serif;
    /* position: relative; */
}

.page-container
{
    min-height: 100%;
}

.main
{
    overflow: auto;
    
}

html, body
{
    height: 100%
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

/* *****Grids***** */
.grid
{
    display: grid;
}

/* Header-Navigation */
.grid-col-3-header
{
    grid-template-columns: 1fr 80% 10%
}

/* Home Page-Main Section */
.grid-col-2
{
    grid-template-columns: repeat(2,1fr);
}

/* Mobile */
.grid-col-1
{
    grid-template-columns: 1fr;
}


/* Membership Page-Cards */
.grid-col-3
{
    grid-template-columns: repeat(3,1fr);
}

/* Facilities Images */
.grid-col-3-facilities
{
    grid-template-columns: repeat(3,1fr)
}

/* Footer Sections */
.grid-col-3-footer
{
    grid-template-columns: repeat(3, 1fr);
    
}

/* *****Links***** */
.primary-links
{
    background-color: var(--primary-link-bg-color);
    color: var(--primary-font-color);
    padding: 1rem 1rem;
    width: 50%;
    border-radius: 50rem;
    border: 2px solid #000;
    text-decoration: none;
    text-align: center;
}


#facilities-section a
{
    text-align: center;
    justify-self: center;  
    padding: 1rem 3rem;
    margin-bottom: 40px; 
} 

.secondary-links
{
    background-color: var(--secondary-link-bg-color);
    color: var(--secondary-font-color);
    padding: 20px 40px;
    margin-top: 1rem;
    border-radius: 50px;
    border: 0;
    width: 100%;
    font-size: 1rem;
}


/* Media Queries */

/* ************************************************* */
@media (max-width: 1199.98px) {
    /* #facilities-images,
    .grid-col-3-facilities, 
    .grid-col-3-footer,
    .grid-col-3-header,
    .grid-col-2
    .grid-col-3
    {
        grid-template-columns: 1fr;
    } */

    /* .primary-links
    {
        text-align: center;
        justify-self: center;  
        padding: 1rem 1rem;   
    }  */
}

/* ************************************************* */

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* #facilities-images,
    .grid-col-3-facilities, 
    .grid-col-3-footer,
    .grid-col-3-header,
    .grid-col-2
    {
        grid-template-columns: 1fr;
    }

    .primary-links
    {
        text-align: center;
        justify-self: center;  
        padding: 1rem 1rem;
        margin-bottom: 40px; 
    } 

    #experience-section p
    {
        padding: 1rem 3rem;
    } */
}

/* *************************************************** */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* #facilities-images,
    .grid-col-3-facilities, 
    .grid-col-3-footer,
    .grid-col-3-header,
    .grid-col-2
    {
        grid-template-columns: 1fr;
    }

    .primary-links
    {
        padding: 1rem 1rem;
        text-align: center;
        justify-self: center;  
    }  */
}

/* ************************************************** */
@media (max-width: 575.98px) {
    /* #facilities-images,
    .grid-col-3-facilities, 
    .grid-col-3-footer,
    .grid-col-3-header,
    .grid-col-2
    {
        grid-template-columns: 1fr;
    }

    .primary-links
    {
        padding: 0 20px;
        text-align: center;
        justify-self: center;  
        padding: 10px;
    } */
}